<appSettings>
  <add key="log4net.Config" value="palla.labs.vdt.webapi-log4net.config"/>
  <add key="log4net.Config.Watch" value="True"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="NewRelic.AppName" value="Palla.Labs.Vdt.WebApi" />
  <add key="banco-de-dados" value=""/>
  <add key="string-conexao" value=""/>
</appSettings>