<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="sceiCtrl.sidebarToggle.left" data-ng-class="{ 'open': sceiCtrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>  
        </div>
    </li>

    <li class="logo hidden-xs">
        <a data-ui-sref="home" data-ng-click="sceiCtrl.sidebarStat($event)">SCEI - painel de administração</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">

        </ul>
    </li>
</ul>

