<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
            </div>

            <div class="profile-info">
                Nome do usuário logado

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Sair</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a data-ui-sref="inicio" data-ng-click="sceiCtrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Início</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="grupoClientes" data-ng-click="sceiCtrl.sidebarStat($event)"><i class="zmdi zmdi-accounts"></i> Grupos de clientes</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="clientes" data-ng-click="sceiCtrl.sidebarStat($event)"><i class="zmdi zmdi-account-add"></i> Clientes</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="equipamentos" data-ng-click="sceiCtrl.sidebarStat($event)"><i class="zmdi zmdi-toys"></i> Equipamentos</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="manutencoes" data-ng-click="sceiCtrl.sidebarStat($event)"><i class="zmdi zmdi-wrench"></i> Manutenção</a>
        </li>
    </ul>
</div>
