.login-content-parent {
    overflow: hidden;
}

.lc-block {
    background: #fff;
    //box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block; 
    margin-top: 42px;
    vertical-align: middle;
    position: relative; 
    
    &:not(.lcb-alt) {
        padding: 35px 55px 35px; 
        
        .btn-login {
            top: 50%;
            margin-top: -25px;  
            right: -25px; 
        }
    }
    
    &:not(.toggled) {
        display: none;
    }

    @media (max-width: @screen-xs-max) {
        padding: 15px 35px 25px 20px;
        width: ~"calc(100% - 60px)";
    }

    .checkbox {
        margin: 5px 0 0 42px;
        text-align: left; 
    }

    &.toggled {
        z-index: 10; 
    } 
}

div.login-content {
    text-align: center;
    
    &:after {
        content: "";
        vertical-align: middle; 
        display: inline-block;
        width: 1px;
        height: 100%;
    }
    
    &:before {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        //background: @m-cyan;
        content: "";
        z-index: 0;
    }
}