<header id="header" data-current-skin={{sceiAdmin.currentSkin}} data-ng-include="'template/header.html'"></header>
<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': sceiAdmin.sidebarToggle.left === true }"></aside>
    <section id="content">

        <div class="container" data-ng-controller="grupoController as grupo">

            <div class="block-header">
                <h2>Grupos de clientes <small>Utilize este cadastro para agrupar clientes e permitir a visualização unificada da situação de seus equipamentos.</small></h2>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2><small>Dica: Você pode filtrar os grupos digitando parte de seus nomes no campo abaixo do título da coluna.</small></h2>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table ng-table="grupo.tableFilter" class="table table-striped table-vmiddle" show-filter="true">
                            <tr ng-repeat="w in $data">
                                <td data-title="'Nome'" filter="{ 'nome': 'text' }">
                                    {{ w.nome }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>







