<header id="header" data-current-skin={{sceiAdmin.currentSkin}} data-ng-include="'template/header.html'"></header>
<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': sceiAdmin.sidebarToggle.left === true }"></aside>
    <section id="content">

        <div class="container" data-ng-controller="grupoController as grupoCtrl">

            <div class="block-header">
                <h2>Grupos de clientes <small>Utilize este cadastro para agrupar clientes e permitir a visualização unificada da situação de seus equipamentos.</small></h2>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="pull-right">
                            <button class="btn btn-default" ng-click="grupoCtrl.adicionar()">
                                <span class="zmdi zmdi-plus-circle"></span>
                            </button>
                        </div>
                        <table ng-table="grupoCtrl.parametrosTabela" class="table table-striped" show-filter="true">
                            <colgroup>
                                <col width="90%" />
                                <col width="10%" />
                            </colgroup>
                            <tr ng-repeat="row in $data" ng-form="rowForm">
                                <td title="'Nome'" filter="{nome: 'text'}" ng-switch="row.estaEditando" ng-class="nome.$dirty ? 'bg-warning' : ''" ng-form="nome">
                                    <span ng-switch-default>{{row.nome}}</span>
                                    <div class="controls" ng-class="nome.$invalid && nome.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                        <input type="text" name="nome" ng-model="row.nome" class="form-control input-sm" />
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm" ng-click="grupoCtrl.salvar(row, rowForm)" ng-if="row.estaEditando" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="zmdi zmdi-check"></span></button>
                                    <button class="btn btn-warning btn-sm" ng-click="grupoCtrl.cancelar(row, rowForm)" ng-if="row.estaEditando"><span class="zmdi zmdi-mail-reply"></span></button>
                                    <button class="btn btn-default btn-sm" ng-click="row.estaEditando = true" ng-if="!row.estaEditando"><span class="zmdi zmdi-edit"></span></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>







