<header id="header" data-current-skin={{sceiAdmin.currentSkin}} data-ng-include="'template/header.html'"></header>
<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': sceiAdmin.sidebarToggle.left === true }"></aside>
    <section id="content">
        <div id="header-dashboard" class="container" data-ng-controller="resumoGrupoController as resumoGrupo">
            <div class="block-header">
                <h2>
                    RESUMO DAS SITUAÇÕES DOS EQUIPAMENTOS
                    <small>(mostrando grupos conforme os filtros selecionados)</small>
                </h2>

                <div class="group-filter">
                    <button tooltip-placement="right" uib-tooltip="Mostrar/esconder grupos em que está tudo bem: OK maior que 75%" data-ng-class="resumoGrupo.mostrarOK ? 'btn bgm-lightgreen btn-icon waves-effect waves-circle':'btn bgm-gray btn-icon waves-effect waves-circle'" data-ng-click="resumoGrupo.filtrarOk()"><i data-ng-class="resumoGrupo.mostrarOK ? 'zmdi zmdi-check':'zmdi zmdi-close'"></i></button>
                    <button tooltip-placement="right" uib-tooltip="Mostrar/esconder grupos que merecem atenção: OK variando entre 51% e 75%" data-ng-class="resumoGrupo.mostrarAtencao ? 'btn bgm-amber btn-icon waves-effect waves-circle':'btn bgm-gray btn-icon waves-effect waves-circle'" data-ng-click="resumoGrupo.filtrarAtencao()"><i data-ng-class="resumoGrupo.mostrarAtencao ? 'zmdi zmdi-check':'zmdi zmdi-close'"></i></button>
                    <button tooltip-placement="right" uib-tooltip="Mostrar/esconder grupos que estão em estado crítico: OK menor que 51%" data-ng-class="resumoGrupo.mostrarCritico ? 'btn bgm-red btn-icon waves-effect waves-circle':'btn bgm-gray btn-icon waves-effect waves-circle'" data-ng-click="resumoGrupo.filtrarCritico()"><i data-ng-class="resumoGrupo.mostrarCritico ? 'zmdi zmdi-check':'zmdi zmdi-close'"></i></button>
                </div>
            </div>
            <div class="dash-widgets">
                <div class="row">
                    <div class="col-md-5 col-sm-6" data-ng-repeat="grupo in resumoGrupo.grupos" ng-show="resumoGrupo.deveMostrarGrupo(grupo)">
                        <div id="pie-charts" class="dash-widget-item grupo-{{grupo.id}}">
                            <div ng-class="resumoGrupo.classeDoGrupo(grupo)">
                                <div class="dash-widget-header">
                                    <div class="dash-widget-title">{{grupo.nome}}</div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="text-center p-20 m-t-25">
                                    <div class="easy-pie ok-pie" data-percent="0" data-easypie-chart>
                                        <div class="percent">{{grupo.sumarioSituacao.percentualOk}}</div>
                                        <div class="pie-title"><a ng-click="resumoGrupo.mostraDetalhesOk(grupo)">OK</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-t-20 p-b-20 text-center">
                                <div class="easy-pie atencao-pie" data-percent="0" data-easypie-chart>
                                    <div class="percent">{{grupo.sumarioSituacao.percentualAtencao}}</div>
                                    <div class="pie-title"><a ng-click="resumoGrupo.mostraDetalhesAtencao(grupo)">ATENÇÃO</a></div>
                                </div>
                                <div class="easy-pie critico-pie" data-percent="0" data-easypie-chart>
                                    <div class="percent">{{grupo.sumarioSituacao.percentualCritico}}</div>
                                    <div class="pie-title"><a ng-click="resumoGrupo.mostraDetalhesCritico(grupo)">CRÍTICO</a></div>
                                </div>
                                <div class="easy-pie inconclusivo-pie" data-percent="0" data-easypie-chart>
                                    <div class="percent">{{grupo.sumarioSituacao.percentualInconclusivo}}</div>
                                    <div class="pie-title"><a ng-click="resumoGrupo.mostraDetalhesInconclusivo(grupo)">INCONCLUSIVO</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/ng-template" id="detalheDoGrupo.html">
    <div class="modal-header">
        <h4 class="modal-title">{{grupo.nome}}, somente equipamentos com estado '{{situacaoNome}}'</h4>
    </div>
    <div class="modal-body">

        <div class="table-responsive" ng-show="haDetalhes()">
            <table ng-table="parametrosTabela" class="table table-striped" show-filter="false">
                <colgroup>
                    <col width="45%" />
                    <col width="45%" />
                    <col width="5%" />
                    <col width="5%" />
                </colgroup>
                <tr ng-repeat="row in equipamentos" ng-form="rowForm">
                    <td title="'Cliente'" filter="{clienteNome: 'text'}" ng-form="clienteNome">
                        <span>{{row.clienteNome}}</span>
                    </td>
                    <td title="'Nome'" filter="{nome: 'text'}" ng-form="nome">
                        <span>{{row.nome}}</span>
                    </td>
                    <td>
                        <button ng-show="usuarioPodeAcessarEquipamentos()" title="Editar este equipamento" class="btn btn-default btn-sm" data-ui-sref="editarEquipamentos({ equipamentoId: &quot;{{row.id}}&quot; })"><span class="zmdi zmdi-toys"></span></button>
                    </td>
                    <td>
                        <button ng-show="usuarioPodeAcessarManutencoes()" title="Informar manutenção para este equipamento" class="btn btn-default btn-sm" data-ui-sref="criarManutencao({ equipamentoId: &quot;{{row.id}}&quot; })"><span class="zmdi zmdi-wrench"></span></button>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-hide="haDetalhes()">
            <div>(Não há equipamentos deste grupo na situação selecionada)</div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="fecharDetalhes()">Fechar</button>
    </div>

</script>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
