<header id="header" data-current-skin={{sceiCtrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': sceiCtrl.sidebarToggle.left === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>RESUMO DAS SITUAÇÕES DOS EQUIPAMENTOS</h2>
            </div>

            <div class="dash-widgets">
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div id="pie-charts" class="dash-widget-item">
                            <div class="bgm-pink">
                                <div class="dash-widget-header">
                                    <div class="dash-widget-title">Outback</div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="text-center p-20 m-t-25">
                                    <div class="easy-pie main-pie" data-percent="45" data-easypie-chart>
                                        <div class="percent">45</div>
                                        <div class="pie-title">OK</div>
                                    </div>
                                </div>
                            </div>

                            <div class="p-t-20 p-b-20 text-center">
                                <div class="easy-pie sub-pie-1" data-percent="5" data-easypie-chart>
                                    <div class="percent">5</div>
                                    <div class="pie-title">ATENÇÃO</div>
                                </div>
                                <div class="easy-pie sub-pie-2" data-percent="50" data-easypie-chart>
                                    <div class="percent">50</div>
                                    <div class="pie-title">CRÍTICO</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div id="pie-charts" class="dash-widget-item">
                            <div class="bgm-bluegray">
                                <div class="dash-widget-header">
                                    <div class="dash-widget-title">Habibbs</div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="text-center p-20 m-t-25">
                                    <div class="easy-pie main-pie" data-percent="90" data-easypie-chart>
                                        <div class="percent">90</div>
                                        <div class="pie-title">OK</div>
                                    </div>
                                </div>
                            </div>

                            <div class="p-t-20 p-b-20 text-center">
                                <div class="easy-pie sub-pie-1" data-percent="0" data-easypie-chart>
                                    <div class="percent">0</div>
                                    <div class="pie-title">ATENÇÃO</div>
                                </div>
                                <div class="easy-pie sub-pie-2" data-percent="10" data-easypie-chart>
                                    <div class="percent">10</div>
                                    <div class="pie-title">CRÍTICO</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
